// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ul_images { list-style-type: none; margin: 0; padding: 0; }
#ul_images li { margin: 4px; padding: 1px; float: left; }

.div-images-delete { margin-bottom: 3px; margin-top: 3px; margin-left: 2px; }
