<h1><%= t('views.car.welcome') %></h1>

<div id="domain_list">  
  <%= render 'domains'  %> 
</div>

<table width="100%">
<tr>
  <td width="50%">
  <div id="car_list">
  	<%= render 'list'  %>
  </div>
  </td>
  <td width="50%">
  <div id="car_list_selected">
    <%= render 'list_selected'  %> 
  </div>
  </td>
 </tr>
</table>
